[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/ExcessivelySafeCall"]
	path = lib/ExcessivelySafeCall
	url = https://github.com/nomad-xyz/ExcessivelySafeCall
[submodule "lib/iLayer-CCM-EVM"]
	path = lib/iLayer-CCM-EVM
	url = https://github.com/iLayer-io/iLayer-CCM-EVM
