# Full reference https://github.com/foundry-rs/foundry/tree/master/config

[profile.default]
auto_detect_solc = false
bytecode_hash = "none"
fuzz = { runs = 1_000 }
gas_reports = ["*"]
libs = ["lib"]
optimizer = true
optimizer_runs = 200
out = "out"
solc = "0.8.24"
src = "src"
test = "test"
remappings = [
  'ds-test/=node_modules/@layerzerolabs/toolbox-foundry/lib/ds-test',
  'forge-std/=node_modules/@layerzerolabs/toolbox-foundry/lib/forge-std',
  '@layerzerolabs/=node_modules/@layerzerolabs/',
  '@openzeppelin/=node_modules/@openzeppelin/',
  '@nomad-xyz/excessively-safe-call/=node_modules/@nomad-xyz/excessively-safe-call',
  'solidity-bytes-utils/=node_modules/solidity-bytes-utils/'
]

[profile.ci]
fuzz = { runs = 1_000 }
verbosity = 4
